registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
@babel:registry=https://registry.npmjs.org/
@angular:registry=https://registry.npmjs.org/
@microsoft:registry=https://registry.npmjs.org/
@vue:registry=https://registry.npmjs.org/
strict-ssl=false
network-timeout=600000
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=600000
